<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>A_Beautiful_Doll.md</string>
		</array>
		<array>
			<string>Look_for_a_Friend.md</string>
		</array>
		<array>
			<string>Naughty_Monkey.md</string>
		</array>
		<array>
			<string>Quack_Frog.md</string>
		</array>
		<array>
			<string>The_Boys_And_The_Frogs.md</string>
		</array>
		<array>
			<string>The_fox_without_a_tail.md</string>
		</array>
		<array>
			<string>The_Hippo_and_I.md</string>
		</array>
		<array>
			<string>Three_Good_Friends.md</string>
		</array>
		<array>
			<string>Unit_1_My_Family.md</string>
		</array>
		<array>
			<string>Unit_2_Boys_and_Girls.md</string>
		</array>
		<array>
			<string>Unit_3_My_Friends.md</string>
		</array>
		<array>
			<string>Unit_4_In_the_Community.md</string>
		</array>
		<array>
			<string>Unit_5_In_the_Park.md</string>
		</array>
		<array>
			<string>Unit_6_Happy_Holidays.md</string>
		</array>
		<array>
			<string>What_Animals_are_in_the_sea.md</string>
		</array>
	</array>
</dict>
</plist>
